In [1]:
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns
import imageio
import os
import plotly.io as pio
from plotly.subplots import make_subplots
import numpy as np
import plotly.graph_objects as go

In [2]:
dhm_df = pd.read_csv('./DHM_new.csv')

In [3]:
dhm_df

     Gender Age Group  Reading Info/seconds  Device Usage/seconds
0    Female       61+                   250                  1054
1      Male     18-30                   149                  1203
2    Female     18-30                   257                   135
3    Female     31-45                   265                   538
4      Male     31-45                   283                  1787
..      ...       ...                   ...                   ...
245  Female     18-30                   205                   623
246  Female       61+                   116                  1724
247  Female       61+                    66                   844
248  Female     18-30                   179                  1018
249    Male       61+                   247                  1066

[250 rows x 4 columns]

In [4]:
dhm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                250 non-null    object
 1   Age Group             250 non-null    object
 2   Reading Info/seconds  250 non-null    int64
 3   Device Usage/seconds  250 non-null    int64
dtypes: int64(2), object(2)
memory usage: 7.9+ KB

In [5]:
age_groups = ['+61', '18-30', '31-45', '46-60']
filtered_df = dhm_df[dhm_df['Age Group'].isin(age_groups)]

In [6]:
fig = px.bar(
    filtered_df,
    x='Age Group',
    y='Device Usage/seconds',
    color='Gender',
    barmode='group',
    title='Accumulative of Device Usage in Seconds for Different Age Groups'
)

fig.show(renderer = 'browser')

In [7]:
futurium_df = pd.read_csv('./Futurium_new.csv')

In [8]:
futurium_df

     Gender Age Group Wristband  Reading Info/seconds  Device Usage/seconds
0      Male     31-45        No                   183                   843
1      Male       61+       Yes                   118                   692
2    Female     31-45       Yes                   197                   515
3      Male     18-30       Yes                   201                  1141
4      Male     46-60       Yes                    90                   367
..      ...       ...       ...                   ...                   ...
244  Female     18-30        No                   129                   321
245  Female     18-30       Yes                    93                   867
246    Male     31-45       Yes                   239                   262
247  Female     46-60       Yes                   161                   479
248  Female     31-45       Yes                   167                   868

[249 rows x 5 columns]

In [9]:
futurium_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Gender                249 non-null    object
 1   Age Group             249 non-null    object
 2   Wristband             249 non-null    object
 3   Reading Info/seconds  249 non-null    int64
 4   Device Usage/seconds  249 non-null    int64
dtypes: int64(2), object(3)
memory usage: 9.9+ KB

In [10]:
age_groups = ['+61', '18-30', '31-45', '46-60']
filtered_df2 = futurium_df[futurium_df['Age Group'].isin(age_groups)]

In [11]:
fig = px.bar(
    filtered_df2,
    x='Age Group',
    y='Device Usage/seconds',
    color='Gender',
    barmode='group',
    title='Accumulative of Device Usage in Seconds for Different Age Groups'
)

fig.show(renderer = 'browser')

In [12]:
color_map = {
    'Male': 'green',
    'Female': 'brown'
}

In [13]:
fig = px.histogram(
    filtered_df,
    x='Reading Info/seconds',
    y= 'Age Group',
    color='Gender',
    title='Accumulative of Seconds Taken to Read Information for Different Age Groups',
    color_discrete_map=color_map
)

fig.show(renderer = 'browser')

In [14]:
fig = px.histogram(
    filtered_df2,
    x='Reading Info/seconds',
    y= 'Age Group',
    color='Gender',
    title='Accumulative of Seconds Taken to Read Information for Different Age Groups',
    color_discrete_map=color_map
)

fig.show(renderer = 'browser')

In [15]:
fig = px.bar(
    futurium_df,
    x='Wristband',
    title='Count of People Wearing Wristbands',
    labels={'Wristband': 'Wristband Status', 'count': 'Count'},
    color_discrete_sequence=['green', 'red']  # Custom colors for 'Yes' and 'No'
)

fig.show(renderer = 'browser')

In [16]:
#futurium_df['Wristband'] = futurium_df['Wristband'].apply(lambda x: 1 if x == 'Yes' else 0)

In [17]:
pivot_df = futurium_df.pivot_table(index='Age Group', columns='Wristband', values='Gender', aggfunc='count', fill_value=0)

In [18]:

fig = px.imshow(
    pivot_df,
    color_continuous_scale='Viridis', 
    x=['No', 'Yes'],  
    y=pivot_df.index,  
    title='Correlation between Wristband and Age Group'
)


fig.show(renderer = 'browser')

In [25]:
fig = px.bar(
    futurium_df,
    x='Wristband',
    y='Reading Info/seconds',
    color='Wristband',
    title='Seconds of People Reading the Information by Wristband Status',
    labels={'Wristband': 'Wristband Status', 'Reading Info/seconds': 'Reading Info/seconds'},
    color_discrete_sequence=['green', 'purple']  
)

fig.show(renderer = 'browser')

In [26]:
fig = px.bar(
    futurium_df,
    x='Wristband',
    y='Device Usage/seconds',
    color='Wristband',
    title='Seconds of People Using the Device by Wristband Status',
    labels={'Wristband': 'Wristband Status', 'Device Usage/seconds': 'Device Usage/seconds'},
    color_discrete_sequence=['black', 'blue']  
)

fig.show(renderer = 'browser')

In [23]:
fig = px.bar(
    futurium_df,
    x='Wristband',
    color='Gender',
    title='Wristband Distribution by Gender',
    labels={'Wristband': 'Wristband Status', 'count': 'Count'},
    color_discrete_sequence=['blue', 'grey'],  
    category_orders={"Wristband": ["No", "Yes"]}  
)

fig.show(renderer = 'browser')